body {
    background-color: antiquewhite;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#display {
    height: 30vh;
    background-color: blueviolet;
    font-size: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 24px;
    box-sizing: border-box;
}

table {
    width: 100%;
    height: 70vh;
}

td {
    background-color: rgb(152, 160, 124);
    border-radius: 10px;
    text-align: center;
    width: 25%;
}

td:hover {
    background-color: rgb(202, 146, 251);
    cursor: pointer;
}
